
:where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-thead >tr>td {
    background-color: white;   
}
:where(.css-dev-only-do-not-override-1adbn6x).ant-btn:hover{
 color:white;
}
:where(.css-dev-only-do-not-override-1adbn6x).ant-btn >span:hover{
    color:white;
}
