.active {
    color :white !important;
}

body {
    font-family: 'Exo 2', sans-serif;
}

.container {
    width: 75%;
    margin: auto;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.header::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(48,56,64,.9);
    left: 0;
}

.from-the-blogs::before {
    display: block;
    content: "";
    position: absolute;
    top: 12px;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    height: 1px;
    z-index: 2;
}

.learning-path::after {
    position: absolute;
    content: "";
    height: 6.5px;
    top: 100%;
    left: 10px;
    right: 10px;
    background: #fff;
    box-shadow: 0 2px 0 rgba(0,0,0,.07), inset 0 2px 1px -1px #dfe2e6, inset 0 1px 2px 0 rgba(223,226,230,.14), inset 0 1px 3px 0 rgba(48,56,64,.12);
    border-radius: 0 0 0.5rem 0.5rem;
}