:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #5567ff;
    --secondary: #868e96;
    --success: #77c13a;
    --info: #17a2b8;
    --warning: #e4a93c;
    --danger: #d9534f;
    --light: #f8f9fa;
    --dark: #303840;
    --black: #272c33;
    --accent: #ed0b4c;
    --accent-red: #ed0b4c;
    --accent-yellow: #e4a93c;
    --accent-dodger-blue: #5567ff;
    --accent-pickled-bluewood: #303956;
    --accent-electric-violet: #9c42ff;
    --primary-purple: #824ee1;
    --primary-red: #ed0b4c;
    --primary-yellow: #e4a93c;
    --primary-light: #9cf;
    --primary-dodger-blue: #5567ff;
    --primary-pickled-bluewood: #303956;
    --page-section: #e9edf2;
  }