@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }
}

@layer components {
  .page-container {
    @apply max-w-6xl;
    @apply mx-auto;
    @apply px-6;
  }
  .page-section {
    @apply py-8;
  }
  .separate-page {
    position: relative;
  }
  .separate-page::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    @apply bg-gray-300;
  }
}

@layer utilities {
  .text-gray-sm {
    font-size: 13px;
    @apply text-gray-400;
  }
}
